@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

.projects-small .project img {
  max-width: 5rem;
  max-height: 5rem;
}

.box, .project {
  box-shadow: black 10px 10px 0px;
  background-color: white;
  border-radius: 20px;
  border: 5px solid black;
}

.box {
  padding: 3rem 5rem;
}

@media screen and (max-width:800px) {
  .parent {
    padding: 2rem 1rem;
  }
  
  .box {
    padding: 2rem 2.5rem;
  }

  .projects-small.xp {
    padding-bottom: 1.5rem;
  }

  .button button {
    font-size: 1rem;
  }
}

.projects-small .buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:800px) {
  .parent {
    padding: 2rem 10rem;
  }

  .projects .project .project-img {
    float: left;
    max-width: 10rem;
    max-height: 10rem;
    margin-right: 4rem;
  }

  .projects .project h3 {
    font-size: 2rem;
    margin-top: 0;
  }

  .projects .project p, .bio, .button button {
    font-size: 1.2rem;
  }

  .buttons-small {
    display: flex;
    flex-direction: column;
    gap: 0.667rem;
  }

  .projects .project * {
    text-align: left;
  }
}

@media screen and (min-width: 1080px) {
  .parent {
    padding: 2rem 17.5rem;
  }
}

.projects-small {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  width: 100%;
}

@media screen and (min-width: 1300px) {
  .projects-small {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.project {
  padding: 2rem;
  display: block;
  box-sizing: border-box;
}

.projects .project {
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.projects-small .project h3 {
  margin-top: 1rem;
  margin-bottom: .125rem;
}

.projects-small .project p {
  margin-top: .5rem;
}

.project .img {
  border-radius: 50%;
}

.pfp {
  width: 8rem;
  height: 8rem;
  background-color: rgba(0, 0, 0, .1);
  padding: 1rem;
  border-radius: 50%;
}

.big-text {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

* {
  font-family: "Atkinson Hyperlegible", sans-serif;
  text-align: center;
  color: black;
}

body {
  background: linear-gradient(to right, #000080, #800080, #000080);
  background-size: 400% 400%;

  -webkit-animation: gradient 60s ease infinite;
  -moz-animation: gradient 60s ease infinite;
  animation: gradient 60s ease infinite;
}

h3 {
  font-size: 1.333rem;
  margin-bottom: 1rem;
}

.mb {
  margin-bottom: 1.5rem;
}

.icons {
  font-size: 30px;
  margin-top: 0;
}

.icons img {
  width: 30px;
  height: 30px;
}

.icons a {
  text-decoration: none;
}

.icons a:hover {
  filter: brightness(90%);
}

.bio p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.button button, .status {
  box-shadow: black 5px 5px 0px;
  background-color: white;
  border-radius: 10px;
  border: 4px solid black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.button button i img {
  height: 1.2rem;
  margin: 0;
}

.button {
  margin-right: 0.4rem;
  text-decoration: none;
}

.button button:hover, .menu-icon button:hover, .status:hover, .link:hover {
  filter: brightness(0.8);
}

#menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 1.25rem;
  box-shadow: black 10px 10px 0px;
  background-color: white;
  border-radius: 15px;
  border: 4px solid black;
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 10px;
}

#menu-items {
  display: none;
  flex-direction: column;
  align-items: baseline;
  width: 200px;
  padding: 10px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.statuses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}