.status {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem !important;
  padding-top: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 1rem !important;
  width: 100%;
}

.status-link {
  width: 100%;
}

.status-details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.33rem;
}

.status-title {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.33rem;
}

.status h4, .status span {
  text-align: left;
}

.status h4 {
  margin: 0;
}

.status-img {
  height: 75px;
  border-radius: 10px;
}

.spotify-time {
  display: flex;
  flex-direction: row;
  gap: 0.33rem;
}

.statuses {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
}

@media screen and (min-width: 900px) {
  .status-img {
    height: 100px;
  }

  .status-title {
    font-size: 1.6rem;
  }

  .status {
    padding-right: 2rem !important;
  }
}